# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Firebase
/firebase-debug.log
/firebase-debug.log.*
/.firebase/
.firebaserc

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.vscode/
/.idea/
/.DS_Store
*.swp

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db